@import "../../app.scss";

.about {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .imgContainer {
        flex: 1;

        img {
            width: 400px;
            object-fit: cover;
            border-radius: 50px;
        }
    }

    .textContainer {
        flex: 1;
        display: flex;
        max-width: 50%;
        flex-direction: column;
        text-align: left;
        gap: 40px;

        .about {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 30px;
                align-self: flex-start;
                color: orange;
            }

            p {
                font-weight: 300;
            }
        }

        .technologies {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .title {
                font-size: 30px;
                align-self: flex-start;
                color: orange;
            }

            .skills {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .stacks {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .subtitle {
                        font-size: 16px;
                        color: gray;
                    }

                    .subtitle:hover {
                        color: cyan;
                    }

                    .icons {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                    }
                }
            }
        }
    }
}
